$tela-m: '(min-width: 576px)';
$tela-g: '(min-width: 768px)';
$tela-x: '(min-width: 992px)';
$tela-xl: '(min-width: 1200px)';

.home-container {
  padding: 10px;
  font-size: 26px;
  text-align: center;

  @media #{$tela-m} {
    padding: 15px;
    font-size: 40px;
  }

  @media #{$tela-x} {
    padding: 40px;
    font-size: 55px;
  }
}

.home-card {
  display: flex;
  flex-direction: column-reverse;
  background-color: #fff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  
  @media #{$tela-xl} {
    flex-direction: row;
    justify-content: space-around;
  }
}

.home-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px 60px 10px;

  h1 {
    width: 270px;
    font-size: 1em;
    margin-bottom: 15px;
  }

  p {
    width: 270px;
    color: #9e9e9e;
    font-size: 0.6em;
    margin-bottom: 30px;
  }

  @media #{$tela-m} {
    h1 {
      width: 506px;
    }

    p {
      width: 506px;
    }

    button {
      width: 506px;
    }
  }

  @media #{$tela-g} {
    padding: 20px 20px 100px;
  }

  @media #{$tela-x} {
    padding: 20px 20px 150px;

    h1 {
      width: 700px;
      margin-bottom: 26px;
    }
    
    p {
      width: 700px;
      margin-bottom: 47px;
    }
  }

  @media #{$tela-xl} {
    align-items: flex-start;
    padding: 60px 10px;
    text-align: left;
    justify-content: space-around;
    height: calc(85vh - 10px);
  }
}

.home-image-container {
  padding: 50px 15px 40px;

  svg {
    width: 100%;
    height: auto;
  }

  @media #{$tela-m} {
    svg {
      width: 506px;
    }
  }

  @media #{$tela-g} {
    padding: 115px 15px;
  }

  @media #{$tela-x} {
    padding: 125px 20px;
  }

  @media #{$tela-xl} {
    display: flex;
    align-items: center;
    padding: 20px;

    svg {
      width: 100%;
      height: auto;
    }
  }

  @media (min-width: 1366px) {
    svg {
      width: 480px;
    }
  }
}
